@model OrderSummaryModel

@{
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <title>BizApp</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @*Google Font*@
    <!link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" />

    @* CSS resources *@
    <link rel="stylesheet" href="~/lib_npm/jquery-ui-dist/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/lib_npm/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" />
    <link rel="stylesheet" href="~/lib_npm/@("@fortawesome")/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="~/lib_npm/admin-lte/css/adminlte.min.css" />
    <link rel="stylesheet" href="~/css/admin/styles.css" />
    <link rel="stylesheet" href="~/Plugins/BizApp.SalesPage/Contents/lib/tiny-slider/tiny-slider.min.css" />

    <style>
        .ico-help {
            display: none;
        }
    </style>

    @NopHtml.GenerateCssFiles()

    @* scripts *@
    <script asp-location="None" src="~/lib_npm/jquery/jquery.min.js"></script>
    <script src="~/lib_npm/jquery-ui-dist/jquery-ui.min.js"></script>
    <script src="~/lib_npm/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib_npm/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/lib_npm/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/lib_npm/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="~/Plugins/BizApp.SalesPage/Contents/lib/tiny-slider/tiny-slider.min.js"></script>

    @NopHtml.GenerateScripts(ResourceLocation.Head)
    @NopHtml.GenerateInlineScripts(ResourceLocation.Head)

    @*Insert favicon and app icons head code*@
    @await Component.InvokeAsync(typeof(FaviconViewComponent))

    <style>
        body {
            margin-top: 2%;
            margin-bottom: 2%;
            padding-left: 8px;
            padding-right: 8px;
        }

        .order-value {
            font-weight: bold;
        }

        table tr td {
            padding: 5px;
            vertical-align: top;
        }

            table tr td:first-child {
                text-align: right;
            }

            table tr td:nth-child(2) {
                text-align: left;
            }
    </style>
</head>
<body>
    <div class="row">
        <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1">
            <div class="cards-group">
                <div class="card card-default no-margin">
                    <div class="card-body text-center">
                        <img src="~/Plugins/BizApp.SalesPage/logo_black.png" alt="logo.png" style="max-width:250px;margin-bottom:30px;">
                        <h2>Purchase Completed</h2>
                        <p>Thank you for your purchase. Your order is being processed now</p>
                        <p>Here are your order details :</p>

                        <div class="card card-default no-margin">
                            <table cellpadding="0" cellspacing="0" style="width:100%;">
                                @* <tr>
                                    <td>
                                        <span>@T("Plugins.BizApp.SalesPage.SalesPage")</span>
                                    </td>
                                    <td>
                                        <span class="order-value">@Model.SalesPageUrl</span>
                                    </td>
                                </tr> *@
                                <tr>
                                    <td>
                                        <span>@T("Account.CustomerOrders.OrderNumber")</span>
                                    </td>
                                    <td>
                                        <span class="order-value">@Model.CustomOrderNumber</span>
                                    </td>
                                </tr>
                               @*  <tr>
                                    <td>
                                        <span>@T("Plugins.BizApp.SalesPage.BizAppOrderId")</span>
                                    </td>
                                    <td>
                                        <span class="order-value">#@Model.BizAppOrderId</span>
                                    </td>
                                </tr> *@
                                <tr>
                                    <td>
                                        <span>@T("Plugins.BizApp.SalesPage.FullName")</span>
                                    </td>
                                    <td>
                                        <span class="order-value">@Model.ShippingAddress.FirstName @Model.ShippingAddress.LastName</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>@T("Admin.Address.Fields.Email")</span>
                                    </td>
                                    <td>
                                        <span class="order-value">@Model.ShippingAddress.Email</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>@T("Admin.Address.Fields.PhoneNumber")</span>
                                    </td>
                                    <td>
                                        <span class="order-value">@Model.ShippingAddress.PhoneNumber</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>@T("Plugins.BizApp.SalesPage.Address")</span>
                                    </td>
                                    <td>



                                        @{
                                            var fullAddress = Model.ShippingAddress.Address1;

                                            @if (!string.IsNullOrEmpty(Model.ShippingAddress.Address2))
                                            {
                                                fullAddress += "<br/>" + Model.ShippingAddress.Address2;
                                            }
                                            fullAddress += "<br/>" + Model.ShippingAddress.ZipPostalCode
                                            + ", " + Model.ShippingAddress.StateProvinceName
                                            + ", " + Model.ShippingAddress.CountryName;
                                        }
                                        <span class="order-value">@Html.Raw(fullAddress)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>@T("Plugins.BizApp.SalesPage.ProductIds")</span>
                                    </td>
                                    <td>
                                        @foreach(var product in Model.Products)
                                        {
                                            <span class="order-value">@product.ProductName (@product.Price) x @product.Quantity</span>
                                            <br />
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>Merchandise Subtotal</span>
                                    </td>
                                    <td>
                                        <span class="order-value">@Model.SubtotalPrice</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>SST (8%)</span>
                                    </td>
                                    <td>
                                        <span class="order-value">@Model.Tax</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>Shipping Subtotal</span>
                                    </td>
                                    <td>
                                        <span class="order-value">Free Shipping (@Model.OrderShipping)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Shipping Fee SST (8%)
                                    </td>
                                    <td>
                                        <span class="order-value">@Model.ShippingTax</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>@T("Account.CustomerOrders.OrderTotal")</span>
                                    </td>
                                    <td>
                                        <span class="order-value">@Model.OrderTotal</span>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <button class="btn btn-primary" onclick="window.print();">Print Order Information</button><br/><br/>
                        <a href="@Model.SalesPageUrl">Purchase More</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    @NopHtml.GenerateScripts(ResourceLocation.Footer)
    @NopHtml.GenerateInlineScripts(ResourceLocation.Footer)
</body>
</html>
